@model OpenPriceConfig.Models.Option

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="EditBracketPricings" asp-route-id="@Model.ID">
    <div class="form-horizontal">
        <h4>Bracket Pricing - @Model.Name</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @for (int i = 0; i < Model.BracketPricing.Count; i++)
        {
            <div class="form-group">
                <label asp-for="BracketPricing[i].Price" class="col-md-2 control-label">Floors @Model.BracketPricing[i].ForFloorNumber price</label>
                <div class="col-md-10">
                    <input asp-for="BracketPricing[i].Price" class="form-control" />
                    <span asp-validation-for="BracketPricing[i].Price" class="text-danger" />
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.Configurator.ID">Back to Option</a> | 
    <a asp-action="ClearPricings" asp-route-id="@Model.ID">Clear bracket pricing</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
