@model IEnumerable<OpenPriceConfig.Models.Option>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Configurator.ID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th width="75">
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionLocaleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionTag)
            </th>
            <th width="90">
                @Html.DisplayNameFor(model => model.InputType)
            </th>
            <th width="200">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionLocale.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InputType)
            </td>
            <td>
                @if (item.BracketPricingType == Option.BracketPricingTypes.SinglePrice)
                {
                    @Html.DisplayFor(modelItem => item.Price)
                }
                <a asp-action="EditBracketPricings" asp-route-id="@item.ID">
                    @{ var orderedBp = item.BracketPricing.OrderBy(b => b.Level);}
                    @foreach (var bp in orderedBp)
                    {
                        @bp.Price @:| 
                    }
                </a>
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>
