@model OfferViewModel

@{
    ViewData["Title"] = "Ca pris";
    var discountSum = Model.PriceSum * (decimal)(((decimal)100 - (decimal)Model.Discount) / (decimal)100);
}

<h2>Ca pris - @Model.Name</h2>
<a href="javascript:if(window.print)window.print()">Skriv ut</a>

<table class="table">
    <thead>
        <tr>
            <th><!--Name--></th>
            <th width="150"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Items)
        {
            <tr>
                <td valign="top">
                    @item.Name
                    @if(!string.IsNullOrEmpty(item.TextValue))
                    {
                        @:: @item.TextValue
                    }
                    @if(!string.IsNullOrEmpty(item.Description))
                    {
                        <br />
                        <pre>@item.Description</pre>
                    }
                </td>
                <td valign="top">
                @*@if(item.HasPrice)
                {
                    @: @item.Price
                }*@
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Summa:</th>
            <th>@Model.PriceSum</th>
        </tr>
        @if (Model.Discount != 0)
        {
        
        <tr>
            <th>Rabatterad summa (@Model.Discount%):</th>
            <th>@discountSum</th>
        </tr>
        }
    </tfoot>
</table>